<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link"> 
      <i class="fa fa-arrow-circle-o-left "></i> Back to Dashboard
    </a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    Edit Settings
  </div>
  <div class="card-body">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label>Allow Registration</label>
        <input type="checkbox" name="allowRegistation" [checked]="settings.allowRegistation" (change)="settings.allowRegistation = !settings.allowRegistation">
      </div>

      <div class="form-group">
        <label>Disable fuel balance on add</label>
        <input type="checkbox" name="allowRegistation" [checked]="settings.disableFuelBalanceOnAdd" (change)="settings.disableFuelBalanceOnAdd = !settings.disableFuelBalanceOnAdd">
      </div>

      <div class="form-group">
        <label>Disable fuel balance on edit</label>
        <input type="checkbox" name="allowRegistation" [checked]="settings.disableFuelBalanceOnEdit" (change)="settings.disableFuelBalanceOnEdit = !settings.disableFuelBalanceOnEdit">
      </div>
      <input type="submit" value="submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>